#hero{
  padding-left: 40px;

}

#welcome {
    color: rgb(255,255,255);
    /* color: rgb(0,0,0); */

    font-size: 520%;
    text-align: left;
    margin-top: 340px;
    padding-top: 0%;
    padding-left: 40px;
    margin-bottom: -2px;
    animation: slide-in-left 1.5s forwards;
  }

#subheader{
   color: rgb(255, 255, 255); 
   /* color: rgb(0,0,0);  */

  /* font-size: 10px; */
  font-size: 90%;
  font-style: italic;
  text-align: left;
  padding-bottom: 0%; 
  padding-top: 4;
  margin-bottom: 10px;
  animation: slide-in-left 2s forwards;
}

#profile_pic{
  border-radius: 0%;
  /* border: 3px solid rgb(0, 38, 77);  */
  display:block;
  width: auto;
  height: 180px;
  margin: 0;
  position: relative;
  left: 70%;
  top: 170px;
  /* top: 300px; */

}

.about_div{
  background-color: rgb(0, 26, 51);
  display: inline-block;
  margin-top: 400px; 
}

.subsection{
  font-family: 'BebasNeue',Arial, Helvetica;
  background-color: rgb(255, 0, 102);
  margin-top: 10px;
  display: inline;
  color: white;
  text-align: left; 
  margin-left: 40px;
}

p{
  font-family: Arial, Helvetica;
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 40px;
  margin-right: 40%;
  padding-bottom: 2%;
}


a.active,a:hover{
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 102);
} 

.blue-bg{
  /* background-color: rgb(255,255,255); */

   background-color: rgb(0,38,77); 
}
.darkBlue-bg{
  background-color: rgb(0, 26, 51);
}
.deepPink-bg{
  background-color: rgb(255, 0, 102);
}
.white-txt{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'BebasNeue';
  src: url('bebas_neue/BebasNeue-Regular.woff2') format('woff2'),
  url('bebas_neue/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}


